.header
{
    background-color:#a2de96;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.headerContainer
{
    width:100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}
.headerList
{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
 
}
.headerListItem
{
 display: flex;
 align-items: center;
 gap:10px;
 cursor: pointer;
}
.headerTitle
{
    margin-bottom: 10px;

}
.headerListItem.active
{
    border: 4px solid whitesmoke;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc
{
    margin:20px 0px;
}
.headerBtn
{
    background-color: #279910;
    color :white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    max-width: 1024px;
    width: 100%;
}
.headerIcon
{
    color:gray;
}
.headerSearchItem
{
    display:flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput
{
    border:none;
    outline:none;

}
.headerSearchText
{
    color:grey;
    cursor: pointer;
}
.date 
{
    z-index: 2;
    position: relative;

}
.options
{
    position: absolute;
    top: 50px;
    background-color: white;
    color:gray;
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    z-index: 2;
}
.optionItem
{
    width:200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter
{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color:black;


}
.optionCounterButton
{
    width: 30px;
    height: 30px;
    border:1px solid rgb(77, 181, 77) ;
    color:rgb(77, 181, 77);
    background-color: white;
}
.optionCounterButton:disabled{
    cursor:not-allowed;
}
